body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(Medicine.jpg);
    background-position: center;
    background-size: cover;
}
.editor-elements {
    text-align: center;
    margin: 50px auto;
    padding: 10px;
    width: 50%;
    border-radius: 20px;
    background-color: rgba(18, 18, 18, 0.4);
    backdrop-filter: blur(50px) saturate(150%);
    color: white;
    padding-top: 50px;
}
.home,
.feedback,
.content-2 {
    color: black;
    font-size: larger;
    font-weight: bold;
    float: left;
    margin-bottom: 20px;
    text-decoration: none;
}
.home,
.feedback,
.content-2 a:visited {
    color: rgb(87, 38, 133);
}
.editor-elements h1 {
    font-size: 2rem;
    color: black;
    text-decoration: underline;
}
.editor-elements h3 {
    font-style: italic;
    color: black;
}
.editor-elements p {
    font-size: medium;
    text-align: left;
    clear: both;
}


